@namespace oxy url('http://www.oxygenxml.com/extensions/author');
@namespace xml url('http://www.w3.org/XML/1998/namespace');
@namespace xi url('http://www.w3.org/2001/XInclude');
@namespace url('http://www.tei-c.org/ns/1.0');

/* This framework derives partly from the Oxygen Author form created by the US Epigraphy Project: 
 https://github.com/Brown-University-Library/usep-data/tree/master/oxygen-author */

       oxy|comment {
        display:none !important;
        content: "";
       }

          oxy|doctype, respStmt, handNote, scriptDesc, profileDesc, authority, provenance, msItem, teiHeader listPlace, teiHeader listPerson, editionStmt, history, publicationStmt date, publisher, availability, msIdentifier, textLang, personGrp {
           display:none;
           visibility: -oxy-collapse-text ;
       }
       
        xi|include, include {
        display:inline !important;
        }
        
        
        /*Markup inside the text*/
div rs { border-style:dashed; border-color:black; border-width: thin; }
div placeName { background-color: #e6e6ff; }
div persName { background-color: #ffffcc; }
div orgName { background-color: #ffe6e6; }
div geogName { background-color: #ccffcc; }
div date { background-color: #ffccff; }
    
div rs:before, div placeName:before, div geogName:before, div orgName:before, div persName:before {
        content:  " REALM: " oxy_editor(type, popupSelection, edit, "@key", editable, false,
             values, oxy_concat("", oxy_xpath(oxy_concat('string-join(doc("', oxy_url('${framework}/', 'resources/thesaurus.xml'), '")//taxonomy[@xml:id="thesaurus"]//category[ancestor::category[1]][not(ancestor::category[2])]/@xml:id, ",")'))))
             /*" TYPE: " oxy_editor(type, popupSelection, edit, "@corresp", editable, false,
             values, oxy_concat("", oxy_xpath(oxy_concat('string-join(doc("', oxy_url('${framework}/', 'resources/thesaurus.xml'), '")//taxonomy[@xml:id="thesaurus"]//category[ancestor::category[2]]/@xml:id, ",")'))))*/
             " ";
        display:inline;
    }  
/*End of markup inside the text*/      


        
        /*Authority Lists*/
        body listPlace place, body listPerson person, body listOrg org {
        display:block;
        margin-bottom: 3em;
        background-color:#E8E8E8;
        border:5px solid rgb(153, 153, 143);
        }
        
          body listPlace place geo {
          visibility: -oxy-collapse-text ;
    }
    
    encodingDesc category gloss {
           display:block;
    }
    
        encodingDesc category:before {
        content: "Category" oxy_editor( type, text, edit, "@n", columns, 30);
        font-weight:bold;
        display:block;
        visibility: -oxy-collapse-text ;
    }
    
/*End Authority Lists*/


   TEI {
    display:block;
    margin:2em;
    line-height:175%;
    width: 75%;
    margin-left: 50px;
    border:1px solid rgb(153, 153, 143);
    background-color:rgb(245, 243, 221);
    margin:10px 20px 15px 20px;
   }
    
    foreign, div title, history title, note title, body listPlace title, body listPerson title, body listOrg title {
        display:inline;
        font-style: italic;
    }

    msContents, dimensions, listBibl,  div[type="commentary"], div[type="edition"], div[type="translation"], lb   { display:block; }
    
    titleStmt:before {
        content: "Document title: ";
        visibility: -oxy-collapse-text ;
        display:block; 
        margin:10px 20px 0px 20px;
    }
    
    
     publicationStmt:before {
        visibility: -oxy-collapse-text;
    }

    publicationStmt idno:before { 
       content: "Document number: "
        oxy_editor(type, text, edit, "#text", columns, 30);
        display:block;
        margin:10px 20px 0px 20px;
    }

    region, institution, settlement, repository, idno {
        visibility: -oxy-collapse-text;
    }      

       listChange:after {
       display:block;
       content: oxy_editor(type, button, actionID, "add_change");
      }
      
      change {
          content: "When:" oxy_editor(type, datePicker, columns, 13, edit, "@when", format, "yyyy-MM-dd")
        "  Who:" oxy_editor(type, combo, edit, "@who" editable, true, columns, 22,
             values, "gpviscardi, kbielawski, other")
          "  Type of change:"
          oxy_editor(type, combo, edit, "#text", editable, true, columns, 24, values, "creation of record, changes, minor changes, major changes");
          margin:10px 20px 15px 20px;
          visibility: -oxy-collapse-text ;
          display:block;
      }  
      
    titleStmt > title { -oxy-placeholder-content: 'Title here'; }
    note[type="displayed_date"] { -oxy-placeholder-content: 'Date (to be displayed) here'; }
    note[type="dating_elements"] { -oxy-placeholder-content: 'Dating elements here'; }
    note[type="topical_date"] { -oxy-placeholder-content: 'Topical date here'; }   
    note[type="redaction_date"] { -oxy-placeholder-content: 'Date/period of redaction'; }   
    origPlace { -oxy-placeholder-content: 'Provenance here'; }
    
    origDate:before { content: " Date"; }
    listChange:before { content: " Changes"; }
    div[type="edition"]:before { content: " Text"; }
    div[type="bibliography"]:before { content: " Bibliography"; }
    div[type="commentary"]:before { content: " Commentary"; }
    div[type="translation"]:before { content: " Translation"; }
    div[type="apparatus"]:before { content: " Apparatus"; }
   
    origDate:before, listChange:before, div[type="edition"]:before, div[type="bibliography"]:before, div[type="commentary"]:before, div[type="translation"]:before, div[type="apparatus"]:before {
        font-weight:bold;
        font-size: 20px;
        display:block;
   }
   
   titleStmt > title, note[type="displayed_date"], note[type="dating_elements"], note[type="topical_date"], note[type="redaction_date"] {
        margin:15px;
        padding: 0 10px 0 10px;
        background-color: #fdfdfd;
        display:block;
    }
    
    summary, listChange, div[type="edition"], div[type="bibliography"], div[type="commentary"], div[type="translation"], div[type="apparatus"] {
        border:1px solid rgb(153, 153, 143);
        margin:10px 20px 40px 20px;
        display:block;
   }
   
    div[type="edition"] ab, div[type="bibliography"] p, div[type="commentary"] p, div[type="translation"] p, div[type="apparatus"] p {
        background-color: #fdfdfd;
        margin:15px;
        padding: 5px 10px 5px 10px;
        display:block;
        -oxy-placeholder-content: 'Text here';
    }
    
 lb {
 content: " \A ";
  visibility: -oxy-collapse-text ;
 }