*.xpr
*~
*.log
sw/jetty/logs
sw/jetty/temp
webapps/openrdf-sesame/app_dir
webapps/solr/data
docs/build
webapps/ROOT/WEB-INF/logs
webapps/ROOT/WEB-INF/logs/deprecation.log
webapps/ROOT/WEB-INF/logs/cocoon.log
webapps/openrdf-sesame/app_dir/OpenRDF\ Sesame/logs
*.DS_Store
.DS_Store
webapps/ROOT/.DS_Store
